/* Background settings */
body{
    background-image: url(../images/pelikuva.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 0;
    margin-left:0;
    /* background-size: 720px;*/
}

/* Banner style start --> */

.yläpalkki{
    background-color: #DE7ED5;
    text-align: right;
    height:10px;
}

.käyttäjä{
    right: 57px;
    margin-top: 0px;
    position: relative;
}

#profiili-icon{
    position: relative;
    top: 9px;
    right: 200px;
}

#kirjautumisnappi{
    position: relative;
    top: 9px;
}

.login{
    right: 8px;
    position: relative;
}

.käyttäjä, .login{
    color: #1A5077;
}

h1{
    font-family: "Jersey 15", sans-serif;
    display: flex;
    justify-content: center;
    margin-left: -18px;
    font-size: 100px;
    color: whitesmoke;
    text-shadow: -2px 0 black, 0 3px black, 3px 0 black, 0 -2px black;
    text-transform: uppercase;
    background: rgb(222,126,213);
    background: linear-gradient(180deg, rgba(222,126,213,1) 0%, rgba(222,126,213,1) 25%, rgba(255,255,255,1) 50%, rgba(66,222,255,1) 75%, rgba(66,222,255,1) 100%);
    padding-top: 20px; padding-bottom: 35px;
    margin-top: 0;
    margin-bottom: 0;
    /*height:70px;*/
}

.otsikkopalkki{
    /*background-color: #42DEFF;*/
    display: flex;
    font-size: 27px;
    font-weight: bold;
    justify-content: center;
    gap: 20%;
}

.etusivu{
    color: #1A5077;
    position: relative;
    bottom: 40px;
}
.meistä{
    color: #1A5077;
    position: relative;
    bottom: 40px;
}
.tuki{
    color: #1A5077;
    position: relative;
    bottom: 40px;
}

a{
    text-decoration: none;
}

a:hover{
    font-weight: bolder;
    color: white;
}

/* --> Banner style end */

/* ----------------------
--- Game button style ---
---------------------- */
#B1, #B2, #B3, #B4, #B5, #B6 {
    flex-basis: 180px;
    color: rgb(1, 255, 1);
    background-color: black;
    border: rgb(1, 255, 1) solid 1px;
}

#B1:hover, #B2:hover, #B3:hover, #B4:hover, #B5:hover, #B6:hover {
    color: rgb(1, 255, 1);
    background-color: #424242;
    font-weight: bold;
    /*background: */
}

/* ------------------
--- Button layout ---
------------------ */
.brow{
    display: flex;
    justify-content: center;
    gap: 0.5%;
    height: 40px;
    margin-top: 10px;
}

/* -----------------------
--- Game text settings ---
----------------------- */
/* Upper box */
#demo1 {
    text-align: center;
    color: rgb(1, 255, 1);
    font-size: 1.5em;
}

/* Lower box */
#demo2 {
    text-align: center;
    color: rgb(1, 255, 1);
    font-size: 1.5em;
}

/* ----------------------
--- Game box settings ---
---------------------- */
/* Upper box */
.peliboksi {
	  margin: auto;
	  width: 50%;
	  height: 155px;
	  border: rgb(1, 255, 1) solid 1px;
	  margin-top: 10px;
	  background-color: black;
}

/* Lower box */
.info {
	  margin: auto;
	  width: 60%;
	  height: 310px;
	  border: rgb(1, 255, 1) solid 1px;
	  margin-top: 100px;
	  background-color: black;
}

/* ----------------------------------------------------------------------------
--- Confugure text size to fit inside the box as the window size is reduced ---
---------------------------------------------------------------------------- */

@media (max-width:1400px){
    #demo1, #demo2 {
        font-size: 1.3em;
    }
}

@media (max-width:1200px){
    #demo1, #demo2 {
        font-size: 1.15em;
    }
}

@media (max-width:1000px){
    #demo1, #demo2 {
        font-size: 1em;
    }
}

@media (max-width:800px){
    #demo1, #demo2 {
        font-size: 0.8em;
    }
}
