body{
    background-image: url(../images/bg-with-overlay.jpg);
    background-position: top;
}
.yläpalkki{
    background-color: #DE7ED5;
    text-align: right;
}
.käyttäjä{
    right: 57px;
    margin-top: 0px;
    position: relative;
}
#profiili-icon{
    position: relative;
    top: 9px;
    right: 200px;
}
#kirjautumisnappi{
    position: relative;
    top: 9px;
}
.login{
    right: 8px;
    position: relative;
}

.käyttäjä, .login{
    color: #1A5077;
}
h1{
    font-family: "Jersey 15", sans-serif;
    text-align: center;
    font-size: 100px;
    color: whitesmoke;
    text-shadow: -2px 0 black, 0 3px black, 3px 0 black, 0 -2px black;
    text-transform: uppercase;
    background: rgb(222,126,213);
    background: linear-gradient(180deg, rgba(222,126,213,1) 0%, rgba(222,126,213,1) 25%, rgba(255,255,255,1) 50%, rgba(66,222,255,1) 75%, rgba(66,222,255,1) 100%);
    padding-top: 20px; padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.otsikkopalkki{
    
    background-color: #42DEFF;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-top: 0;  
}

.etusivu{
    margin-left: 25%;
    color: #1A5077;
    
}
.meistä{
    margin-left: 20%;
    color: #1A5077;
    
}
.käyttäjä{
    margin-left: 20%;
    color: #1A5077;
    
}
.tuki{
    margin-left: 20%;
    color: #1A5077;
    
}

.napit{
    list-style: none;
    margin-top: 60px; 
}

.linja1 {
    border-bottom: 25px solid #42deff;
    margin-top: 0px;
    
  }

.linja2 {
    border-bottom: 15px solid #42deff;
    margin-top: 10px;
  }

.linja3 {
    border-bottom: 5px solid #42deff;
    margin-top: 10px;
  }


.sivut{
    background-color: #42DEFF;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 0;
    margin-bottom: 13px;
}

.link{
    color: #1A5077;
}

a{
    text-decoration: none;
}

form {
    width: 300px;
    
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: rgb(222,126,213);
    color: #1A5077;
    font-size: large;
    font-weight: bolder;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #42DEFF;
}
