body{
    background-image: url(./images/bg-with-overlay.jpg);
    background-position: top;
    margin-top: 0;
    margin-left: 0;
    font-family: "Chakra Petch", sans-serif;
    width: 100%;
}

/* Account / signup row at the top */

.yläpalkki{
    background-color: #DE7ED5;
    text-align: right;
	height:10px;
}
.käyttäjä{
    right: 57px;
    margin-top: 0px;
    position: relative;
}
#profiili-icon{
    position: relative;
    top: 9px;
    right: 200px;
}
#kirjautumisnappi{
    position: relative;
    top: 9px;
}
.login{
    right: 8px;
    position: relative;
}

.käyttäjä, .login{
    color: #1A5077;
}

/* Title text */

h1{
    font-family: "Jersey 15", sans-serif;
    display: flex;
    justify-content: center;
    margin-left: -18px;
    font-size: 100px;
    color: whitesmoke;
    text-shadow: -2px 0 black, 0 3px black, 3px 0 black, 0 -2px black;
    text-transform: uppercase;
    background: rgb(222,126,213);
    background: linear-gradient(180deg, rgba(222,126,213,1) 0%, rgba(222,126,213,1) 25%, rgba(255,255,255,1) 50%, rgba(66,222,255,1) 75%, rgba(66,222,255,1) 100%);
    padding-top: 20px; padding-bottom: 35px;
    margin-top: 0;
    margin-bottom: 0;
	/*height:70px;*/
}

/* Links to subsites row */
.otsikkopalkki{
    display: flex;
    font-size: 27px;
    font-weight: bold;
    justify-content: center;
    gap: 20%;
}
a{
    text-decoration: none;
}



.etusivu{
    color: #1A5077;
    position: relative;
    bottom: 40px;
    
}
.meistä{
    color: #1A5077;
    position: relative;
    bottom: 40px;
    
}

.tuki{
    color: #1A5077;
    position: relative;
    bottom: 40px;
    
}

.otsikkopalkki a:hover, .yläpalkki a:hover{
    font-weight: bolder;
    color: white;
}

/* Buttons */

.napit{
    Display: flex;
    font-size: 27px;
    font-weight: bold;
    justify-content: center;
    gap: 6.7%;
    margin-top: 80px;
}

button{
    margin-top: 30px;
    width: 140px;
    font-family: "Chakra Petch", sans-serif;
  }

  /* This makes clear button hover look different */
  button:hover{
    color: black;
    background: linear-gradient(#54b3d6, #DE7ED5);
    transition: background .3 ease-in-out;
}


/*makes the gradient filter buttons have gradient hover */

.genre1{
    background: linear-gradient(253.58deg, #DE7ED5 1.55%, #42DEFF 66.84%);
    position: relative;
    padding: 16px 24px;
    display: inline-block;
    text-decoration: none;
    border-radius: 100px;
    overflow: hidden;
    z-index: 0;
    transition: background 0.9s ease;
      font-weight: bold;
      border-color: #0005;
      bottom: 70px;
}
.genre1::after {
    background: linear-gradient(253.58deg, #42DEFF 1.55%, #DE7ED5 66.84%);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.9s ease;
    border-radius: 100px;
    z-index: -1;
}

.genre1:hover::after {
    opacity: 1;
}

.genre2{
    background: linear-gradient(253.58deg, #DE7ED5 1.55%, #42DEFF 66.84%);
    position: relative;
    padding: 16px 24px;
    display: inline-block;
    text-decoration: none;
    border-radius: 100px;
    overflow: hidden;
    z-index: 0;
    transition: background 0.9s ease;
      font-weight: bold;
      border-color: #0005;
      bottom: 70px;
}

.genre2::after {
    background: linear-gradient(253.58deg, #42DEFF 1.55%, #DE7ED5 66.84%);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.9s ease;
    border-radius: 100px;
    z-index: -1;
}

.genre2:hover::after {
    opacity: 1;
}

.genre3{
    background: linear-gradient(253.58deg, #DE7ED5 1.55%, #42DEFF 66.84%);
    position: relative;
    padding: 16px 24px;
    display: inline-block;
    text-decoration: none;
    border-radius: 100px;
    overflow: hidden;
    z-index: 0;
    transition: background 0.9s ease;
      font-weight: bold;
      border-color: #0005;
      bottom: 70px;
}

.genre3::after {
    background: linear-gradient(253.58deg, #42DEFF 1.55%, #DE7ED5 66.84%);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.9s ease;
    border-radius: 100px;
    z-index: -1;
}

.genre3:hover::after {
    opacity: 1;
}

.genre4{
    background: linear-gradient(253.58deg, #DE7ED5 1.55%, #42DEFF 66.84%);
    position: relative;
    padding: 16px 24px;
    display: inline-block;
    text-decoration: none;
    border-radius: 100px;
    overflow: hidden;
    z-index: 0;
    transition: background 0.9s ease;
      font-weight: bold;
      border-color: #0005;
      bottom: 70px;
}

.genre4::after {
    background: linear-gradient(253.58deg, #42DEFF 1.55%, #DE7ED5 66.84%);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.9s ease;
    border-radius: 100px;
    z-index: -1;
}

.genre4:hover::after {
    opacity: 1;
}

.genre5{
    background: linear-gradient(253.58deg, #DE7ED5 1.55%, #42DEFF 66.84%);
    position: relative;
    padding: 16px 24px;
    display: inline-block;
    text-decoration: none;
    border-radius: 100px;
    overflow: hidden;
    z-index: 0;
    transition: background 0.9s ease;
      font-weight: bold;
      border-color: #0005;
      bottom: 70px;
}

.genre5::after {
    background: linear-gradient(253.58deg, #42DEFF 1.55%, #DE7ED5 66.84%);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.9s ease;
    border-radius: 100px;
    z-index: -1;
}

.genre5:hover::after {
    opacity: 1;
}


/* Makes clear filter be hidden when none of other filters are selected */

.clear-filter {
    background: rgb(222,126,213);
background:  linear-gradient(90deg, rgba(222,126,213,1) 0%, rgba(244,171,236,1) 5%, rgba(255,221,251,1) 10%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 80%, rgba(238,253,255,1) 85%, rgba(196,246,255,1) 90%, rgba(128,229,247,1) 95%, rgba(66,222,255,1) 100%);
    position: relative; /* Change position to fixed */
    padding: 16px 24px;
    display: inline-block;
    text-decoration: none;
    border-radius: 100px;
    overflow: hidden;
    z-index: 0;
    transition: background 0.9s ease;
    font-weight: bold;
    border-color: #0005;
    bottom: 70px; /* Adjust the right position as needed */
}

.clear-filter::after {
    background: rgb(222,126,213);
background:  linear-gradient(270deg, rgba(222,126,213,1) 0%, rgba(244,171,236,1) 5%, rgba(255,221,251,1) 10%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 80%, rgba(238,253,255,1) 85%, rgba(196,246,255,1) 90%, rgba(128,229,247,1) 95%, rgba(66,222,255,1) 100%);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.9s ease;
    border-radius: 100px;
    z-index: -1;
}

.clear-filter:hover::after {
    opacity: 1;
}


/* Decorative Lines */

.linjat{
    position: relative;
    bottom: 30px;
}

.linja2 {
    border-bottom: 14px solid #42deff;
    margin-top: 7px;
}

.linja3 {
    border-bottom: 7px solid #42deff;
    margin-top: 9px;


/* Game Rows */

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left:6%;
}

.card{
    /* Add shadows to create the "card" effect */
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    margin: 0% 3% 3% 3%;
    border-radius: 10px;
}

.card img{
    display: block;
    width: 100%;
    margin-bottom: 0;
    border-radius: 10px 10px 0px 0px;
}

.container{
    padding: 1px;
    background-color: #de7ed567;  
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    
}

/* link attributes are in there since 5/6 game slots are just pictures */

.card a{
    color: black;
}

.container:hover{
    color: #2a2a2ab2;
    /*font-weight: bold;
    font-size: smaller;*/
}

.card:hover{
    color: #2a2a2ab2;
    /*font-weight: bold;
    font-size: smaller;*/
    box-shadow: 8px 16px 32px 8px skyblue;
    /*color: #42deff; */
}


.card a:hover{
    color: #2a2a2ab2;
}


.page {
    margin-left: 10%;
}


  @media (max-width: 600px) {
    .row{display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
}
